/* SIZE */
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5 {
  font-weight: 700;
  width: fit-content;
}

.title-1 {
  font-size: 4rem;
}
.title-2 {
  font-size: 3.5rem;
}
.title-3 {
  font-size: 3rem;
}
.title-4 {
  font-size: 2.5rem;
}
.title-5 {
  font-size: 2rem;
}

.text-1,
.text-2,
.text-3,
.text-4,
.text-5 {
  font-weight: 400;
  width: fit-content;
}

.text-1 {
  font-size: 3rem;
}
.text-2 {
  font-size: 2.5rem;
}
.text-3 {
  font-size: 2rem;
}
.text-4 {
  font-size: 1.5rem;
}
.text-5 {
  font-size: 1rem;
}

/* LAYOUT */
.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

::selection {
  color: var(--dark);
  background-color: var(--primary);
}
